<!DOCTYPE html>
<html>
<title>QA SKILLS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/polling.js') }}"></script>
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('static/images/test.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}



</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-large">
        Based on <a href="https://jobs.dou.ua" target="_blank">DOU.UA</a> vacancies
    </div>
    <div class="w3-display-topright w3-padding-large w3-large">
        <div class="tooltip"><i class="fa fa-question-circle" onclick="hintAlert()" style="font-size:36px"></i>
            <span class="tooltiptext">The program gathers 500+ QA vacancies from the DOU.UA, parses vacancies info and make a statistics based on predefined skill keywords
</span>
        </div>
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">QA SKILLS ANALYZER</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-center"><button id="stats"  class="button button5"  onclick="location.href='/statistics';">Show statistics by day</button></p>
        <p class="w3-center"><button id="skill"  class="button button5"  onclick="location.href='/skill';">Show statistics by skill</button></p>
        <p class="w3-center"><button id="telegram"  class="button button7"  onclick="window.open('https://t.me/qa_skills_bot', '_blank');">Telegram bot</button></p>
        <div id="wait" class="w3-display-middle"
             style="display:none;height:0px;position:absolute;top:100%;left:50%;padding:25px;width:100%">
            <p class=" w3-center"><img
                    src='static/images/spinner.gif' width="120"
                    height="100"/><br> Analyzing... <br> It could take for 1-2 minutes</p>
        </div>
        <form class="form-signin" role="form">
            <p class="w3-center">
                <button id="analyze" class="button button6" type="button">Analyze</button>
            </p>
        </form>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        <a id="git" href="https://github.com/Goraved" target="_blank">Goraved</a> 2018
    </div>

</div>

</body>
</html>